@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
 :root {
    --primary-color: #cf8b0b;
    --background-color: #f6f8fa;
    --secon-color: #9da2ad;
    --third-color: #f6f8fa;
    --font: 'Crete Round', serif;
    --grey: #7a7a7b;
    --white: #ffffff;
    --black: #070708;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: unset;
    text-decoration: none;
}

body,
html {
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--black);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    width: 100%;
    height: 50%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    font-weight: 600;
    color: var(--grey);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.cart-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.cart-btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 1rem;
}

.fullheight {
    height: 70vh;
    background: url("images/bg.jpg") center no-repeat;
    background-size: cover;
}

.about-fullheight {
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-fixed {
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

section {
    padding: 9rem 0;
}

.slogan {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slogan h1 {
    margin-top: 120px;
    font-size: 55px;
    text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgb(0, 0, 0), 4px 4px 5px #070707, 0px 0px 7px rgb(255, 255, 255);
    font-family: 'Crete Round', serif;
    color: var(--primary-color);
}

.slogan h6 {
    font-size: 35px;
    text-shadow: -1px -1px 1px rgb(255, 255, 255), 0px 4px 1px rgb(250, 250, 250), 4px 4px 5px #ffffff, 0px 0px 7px rgb(252, 238, 46);
    font-family: 'Rampart One', cursive;
    color: var(--black);
}

.slogan h5 {
    margin-left: 20px;
    font-size: 20px;
    text-shadow: -1px -1px 1px rgb(0, 0, 0), 0px 4px 1px rgb(10, 9, 9), 4px 4px 5px #070707, 0px 0px 7px rgb(212, 153, 26);
    font-family: 'Crete Round', serif;
    color: var(--white);
}

.slogan button {
    padding: 1rem 5rem;
    outline: none;
    border: none;
    background-color: var(--background-color);
    border: .125rem solid var(--primary-color);
    border-radius: 2rem;
    color: var(--primary-color);
    margin: 3rem 0;
    cursor: pointer;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.slogan button:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.fullwidth {
    width: 100%;
}

#about img {
    box-shadow: rgba(8, 8, 8, 0.904) 0px 8px 24px, rgba(43, 32, 2, 0.932) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.about-slogan {
    padding: 4rem;
    background-color: var(--black);
    border-radius: 5rem;
    box-shadow: rgb(238, 168, 17) 0px 2px 8px;
}

.about-slogan p {
    color: var(--white);
}

.about-slogan.start {
    transform: translateX(-10rem) !important;
}

.oft {
    font-size: 20px;
    margin-bottom: 3rem;
    color: var(--primary-color);
}

.about-slogan h3 {
    font-size: 20px;
    margin-bottom: 3rem;
    text-shadow: -1px -1px 1px rgb(245, 203, 16), 0px 4px 1px rgb(0, 0, 0), 4px 4px 5px #070707, 0px 0px 7px rgb(255, 255, 255);
    color: var(--white);
}

.primary-color {
    color: var(--primary-color);
}

.food-menu {
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.food-menu h1 {
    font-size: 50px;
    text-shadow: -1px -1px 1px rgb(245, 203, 16), 0px 4px 1px rgb(0, 0, 0), 4px 4px 5px #070707, 0px 0px 7px rgb(255, 255, 255);
    color: var(--grey);
}

.food-menu p {
    font-size: 30px;
    margin: 2rem 0;
}

.food-category {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.food-category button {
    padding: .5rem 2.5rem;
    margin: 0 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.food-category button:hover,
.food-category button.active {
    background-color: var(--primary-color);
    color: var(--white);
}

.food-item-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3rem;
}

.food-item {
    width: 95%;
    height: 30rem;
    padding: 1rem;
}

.item-wrap {
    height: 100%;
    transition: .4s ease-in-out;
    cursor: pointer;
    border-radius: 2rem;
    background-color: var(--black);
}

.item-wrap:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.item-img {
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}

.img-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    border-radius: 2rem;
}

.img-holder:hover {
    transform: scale(2) rotate(45deg);
}

.item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1rem;
    color: var(--white);
}

.item-info h3 {
    color: var(--white);
}

.item-info p {
    color: var(--primary-color);
    font-size: 10px;
}

.item-info>div:first-child {
    text-align: left;
}

.review-wrap {
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.review-wrap.active {
    transform: scale(1.2) !important;
}

.review-content {
    padding: 3rem;
    border-bottom: .125rem solid var(--grey);
    position: relative;
    text-align: center;
}

.review-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.review-info {
    padding: 3rem;
    text-align: center;
}

.rating {
    margin-top: 2rem;
}

.rating i {
    color: var(--primary-color);
}

.footer {
    color: var(--white);
}

.footer h1 {
    color: var(--primary-color);
}

.input-group {
    padding: 1rem;
    border: .125rem solid var(--primary-color);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.input-group input {
    flex: auto;
    outline: none;
    border: none;
    color: var(--primary-color);
    background-color: transparent;
}

.input-group button {
    padding: .5rem 1rem;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    bottom: 70px;
    right: 70px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: .5rem;
    z-index: 99;
    display: none;
}

.food-item-wrap>div {
    display: none;
}

.food-item-wrap.all>div {
    display: block;
}

.food-item-wrap.salad>div.salad-type {
    display: block;
}

.food-item-wrap.lorem>div.lorem-type {
    display: block;
}

.food-item-wrap.ipsum>div.ipsum-type {
    display: block;
}

.food-item-wrap.dolor>div.dolor-type {
    display: block;
}
/* ANIMATION */

.left-to-right {
    transform: translateX(-150%);
    transition: 1s ease-in-out;
}

.left-to-right.start {
    transform: translateX(0);
}

.right-to-left {
    transform: translateX(150%);
    transition: 1s ease-in-out;
}

.right-to-left.start {
    transform: translateX(0);
}

.zoom {
    transform: scale(0);
    transition: .6s ease-in-out;
}

.zoom.start {
    transform: unset;
}

.bottom-up {
    transform: translateY(30%);
    transition: .8s ease-in-out;
}

.bottom-up.start {
    transform: translateY(0);
}

.delay-2 {
    transition-delay: .2s;
}

.delay-4 {
    transition-delay: .4s;
}

.delay-6 {
    transition-delay: .6s;
}

.delay-8 {
    transition-delay: .8s;
}

.delay-10 {
    transition-delay: .10s;
}

.delay-12 {
    transition-delay: .12s;
}
/* GRID SYSTEM */

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 1rem;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 38.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.mb-nav {
    display: none;
}
/*********************FOOTER*************************/

.footer__container {
    background: rgba(0, 0, 0, 0.95);
    position: relative;
    bottom: 0;
}

.footer__info {
    margin: 0 auto;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.info__about--title {
    color: var(--white);
    font-size: 20px;
    letter-spacing: 0.5;
    padding-bottom: 1rem;
}

.info__about--txt {
    color: var(--white);
    font-size: 13px;
    line-height: 1.3;
}
/*ENLACES*/

.center {
    text-align: center;
}

.enlc__menu--item {
    margin-bottom: 12px;
    text-align: center;
}

.enlc__menu--item a {
    font-size: 13px;
    color: var(--white);
    transition: all 0.33s cubic-bezier(0.7, 0, 0.4, 1);
    -webkit-transition: all 0.33s cubic-bezier(0.7, 0, 0.4, 1);
    -moz-transition: all 0.33s cubic-bezier(0.7, 0, 0.4, 1);
    -ms-transition: all 0.33s cubic-bezier(0.7, 0, 0.4, 1);
    -o-transition: all 0.33s cubic-bezier(0.7, 0, 0.4, 1);
}

.enlc__menu--item a:hover {
    padding-left: 1rem;
}
/*CONTACTO*/

.info__contact--content {
    display: flex;
    margin-bottom: 15px;
}

.info__contact--content:last-child {
    margin-bottom: 0;
}

.contact__content-icon {
    margin-right: 1rem;
    color: var(--white);
    font-size: 17px;
}

.media__menu {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.media__menu--item {
    margin-right: 1rem;
    padding: 0.5rem;
}

.media__menu--item:last-child {
    margin-right: 0;
}

.media__menu--item a {
    padding: 5px 10px;
    color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: box-shadow 0.5s ease-in-out;
    -webkit-transition: box-shadow 0.5s ease-in-out;
    -moz-transition: box-shadow 0.5s ease-in-out;
    -ms-transition: box-shadow 0.5s ease-in-out;
    -o-transition: box-shadow 0.5s ease-in-out;
}

.fb a {
    padding: 5px 12px;
}

.media__menu--item a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.3);
}
/*COPY*/

.footer__copy {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: var(--primary-color);
}

.footer__copy--content {
    font-size: 14px;
    color: var(--white);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0 auto;
}
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    * {
        font-size: 13px;
    }
    h1 {
        font-size: 3rem !important;
    }
    span {
        font-size: inherit;
    }
    .cart-btn i {
        font-size: 2rem;
    }
    .about {
        background-image: url(assets/dan-gold-4_jhDO54BYg-unsplash.jpg);
        background-attachment: fixed;
    }
    .about-slogan.start {
        transform: translateX(0) !important;
    }
    .food-menu {
        padding: 4rem 0;
    }
    .food-item {
        width: 90%;
        height: 30rem;
    }
    .food-category {
        overflow-y: scroll;
    }
    .food-category button {
        width: max-content;
    }
    .back-to-top {
        bottom: 6rem;
        right: 1rem;
    }
    .review-wrap.active {
        transform: unset !important;
    }
    /* MOBILE NAV */
    .mb-nav {
        position: fixed;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white);
        z-index: 99;
        overflow: hidden;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .mb-nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 25%;
        padding: 1rem 0;
    }
    .mb-nav-item i,
    .mb-nav-item a {
        font-size: 2rem;
        color: var(--secon-color);
        z-index: 2;
        transition: .5s ease-in-out;
    }
    .mb-nav-item.active i {
        color: var(--white);
    }
    .mb-move-item {
        position: absolute;
        left: 0;
        width: 25%;
        height: 100%;
        background-color: var(--primary-color);
        transition: .5s ease-in-out;
    }
    /* END MOBILE NAV */
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
    .h-xs {
        display: none;
    }
}

.contenedor{
display:grid;
gap:2rem;
grid-template-columns:repeat(3,1fr)
}
