:root{
    --blanco:#FFFFFF;
    --oscuro:#212121;
    --primaria:#ffc107;
    --secundario: #0097A7;
    --gris: #757575;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Krub',sans-serif;
    background-image: linear-gradient(to top, rgba(70, 69, 67, 0.6) 0%, var(--blanco) 100%) ;
}
h1{
   font-size: 3.8rem; 
}
.titulo{
    text-align: center;
    font-size:  3.8rem; 
    font-family: 'Anton', sans-serif;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: bisque;
}
.nav-principal{
  display: flex; 
  flex-direction: column;
}
@media(min-width: 768px) {
    .nav-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.nav-principal a{
    display: block;
    text-align: center;
    color: var(--oscuro);
    text-decoration: none; 
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.nav-principal a:hover{
    background-color: coral;
}
.hero{
    background-image: url(../img/fond1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 200px;
    padding: 10px;
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color: rgb(0 0 0/30%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h1,
.contenido-hero p{
    color: var(--blanco);
}

.formulario{
    background-color: var(--gris);
    width: min(60rem,100%);
    margin:0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color:var(--primaria);
}

.campo{
  margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 3rem;
    display: block;

}
.input-text{
    width: 100%;
    border:none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.boton{
    background-color: lightslategray;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.enviar .boton{
    width: 100%;
}
.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}
.overlay.active {
	visibility: visible;
}
.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}
.alerta-error{
    padding: .5rem;
    text-align: center;
    color: #F8F8F8;
    font-weight: 100;
    text-transform: uppercase;
    margin: 1rem 0;
    background-color: red;
}