body {
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 320px;
    height: 420px;
    color: #fff;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #F39200;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover {
    color: #fff;
}


/*Texto de Error*/

.msg-error {
    color: red;
    display: block;
    margin-top: -2.1px;
}


/*Bienvenida*/

.ctn-welcome {
    width: 100%;
    max-width: 2300px;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 05px;
    margin: 0px;
    margin-top: 0px;
    background: black;
}

.logo-welcome {
    width: 150px;
    margin: 0px;
    margin-top: 0px;
}

.button_close {
    margin-right: 30px;
    display: block;
    background: linear-gradient(90deg, #050100, #050100);
}

.close-sesion {
    margin: 0px;
    margin-top: 0;
    margin-right: 45px;
    color: white;
    font-size: 12px;
    font-weight: 900px;
}

.icon-tabler-logout {
    margin: 0px;
    margin-top: 0;
}