body {
    margin: 0;
    padding: 0;
    background: url(../img/fondoMenu1.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 3000px, 1000px, 1000px;
    font-family: sans-serif;
    height: 100vh;
}

:root {
    --verde: rgb(41, 51, 43);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.titulo {
    background-color: var(--verde);
    padding-top: 5rem;
}

table.platos {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: -5rem;
    width: 92%;
    border-spacing: 20px;
    -webkit-box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    background-color: transparent;
    border-radius: .8rem;
}

thead {
    background-color: black;
}

th {
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: left;
}

td {
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: left;
}

.imgtabla {
    width: 8rem;
    border-radius: .5rem;
}

caption {
    padding-top: 10px;
    font-style: italic;
}

.ctn {
    width: 100%;
    max-width: 3000px;
    text-align: center;
    color: white;
    font-size: 19px;
    padding: 05px;
    margin: 0px;
    margin-top: 0px;
    background: black;
}

.logo {
    width: 150px;
    margin: 0px;
    margin-top: -25px;
}

.actualizar {
    background-color: rgb(52, 140, 255);
    color: rgb(0, 0, 0);
    padding: 0.3rem 0.3rem;
    margin-top: 0.6rem;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .2rem;
}

.eliminar {
    background-color: rgb(247, 78, 78);
    color: rgb(0, 0, 0);
    padding: 0.3rem 0.3rem;
    margin-top: 0.9rem;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .2rem;
}

.formulario {
    width: min(40rem, 100%);
    margin: 0 auto;
    padding: 6rem;
    -webkit-box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: .8rem;
}

.boton {
    background-color: rgb(52, 140, 255);
    color: rgb(0, 0, 0);
    padding: 0.3rem 0.3rem;
    margin-top: 0.9rem;
    font-size: 0.9rem;
    text-decoration: solid;
    text-transform: initial;
    font-weight: 700;
    border-radius: .5rem;
}

.campo {
    margin-bottom: 1rem;
    text-align: left;
}

.img-act {
    text-align-last: right;
}

.imgact {
    width: 20rem;
    position: absolute;
    top: 90px;
    left: 380px;
    border-radius: .5rem;
}

.input-text {
    display: -webkit-box;
    background-color: #f5f5f5;
    border: 2px solid #eee;
    padding: 10px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.input-des {
    display: -webkit-box;
    background-color: #f5f5f5;
    border: 5px solid #eee;
    padding: 10px 5px 5px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 3px;
    resize: none;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.btn-abrir-popup {
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    background: #f3e630;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

.btn-abrir-popup:hover {
    background: rgba(219, 27, 27, 0.9);
}


/* ------------------------- */


/* POPUP */


/* ------------------------- */

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #494949;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup form .contenedor-inputs {
    opacity: 0;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup form .btn-submit:hover {
    background: rgba(94, 125, 227, .9);
}


/* ------------------------- */


/* ANIMACIONES */


/* ------------------------- */

.popup.active {
    transform: scale(1);
    opacity: 1;
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
    animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}